<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544764131000-k3b8e366t6heepb90mehdbecnvs9f3s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544764131000-k3b8e366t6heepb90mehdbecnvs9f3s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAWymTMGT8iUF-rYMdWUvawzcdmIMAZkcI</string>
	<key>GCM_SENDER_ID</key>
	<string>544764131000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beingsocial</string>
	<key>PROJECT_ID</key>
	<string>being-b54ef</string>
	<key>STORAGE_BUCKET</key>
	<string>being-b54ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544764131000:ios:768294223a761a8277664d</string>
</dict>
</plist>